@import "../../styles/mixins";
@import "lexus-style-guide/colors/index";
@import "lexus-style-guide/utilities/mixins";

.page {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: lx-color("deep-blue", "darker");

    &--demo-user {
        display: flex;
        flex-direction: column;
    }

    /* __content contains header and page content
       it is display flex and min-height 100% so that PageContent can
       take up a minimum of the rest of the screen, if the content isnt larger than that. */
    &__content {
        top: max(env(safe-area-inset-top), var(--demo-banner-height, 0));
        min-height: 100%;
        background: lx-color("deep-blue", "darker");
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: calc(var(--pwa-navigation-height) + env(safe-area-inset-bottom));
    }

    /* Adjust display of nav menu's and close buttons when demo banner is present */
    &--demo-content {
        flex: 1 1 auto;

        div[class*="lk_closeButtonContainer_"] {
            top: calc(var(--demo-banner-height) + 40px);

            @include desktop {
                top: calc(var(--demo-banner-height) + 70px);
            }
        }

        div[class*="lk_primaryNavItems_"] {
            margin-top: 48px;
        }
    }

    &--lock-scroll {
        overflow: hidden;
        height: 100%;
    }
}
