@import "lexus-style-guide/colors/index";
@import "lexus-style-guide/css-grid/index";
@import "../../styles/variables";
@import "../../styles/mixins";


.demo-banner {
    background-color: lx-color("inari");
    padding: max(env(safe-area-inset-top), 1rem) 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: var(--lk-popover-z-index, 1200);
    border: 1px solid rgba(228, 225, 215, 0.50);

    &__content {
        display: flex;
        margin: 1px;

        @include desktop {
            margin: 6px;
        }
    }

    &__caption {
        text-transform: uppercase;
        font-weight: bold;
        line-height: 16px;
        font-size: 1.4rem;
        padding: 4px 0;
        
        @include desktop {
            font-size: 1.2rem;
            letter-spacing: 1.44px;
        }
    }

    &__svg-frame {
        padding: 4px;
        display: flex;
    }

    &__svg {
        margin-right: 8px;
        color: lx-color("smoke");
    }
}
