# 1. Copy and rename this file to `.env`.
# 2. Update environment variables

# Contentful
NEXT_PUBLIC_CONTENT_DELIVERY_ACCESS_TOKEN="REPLACE-WITH-SECRET-ACCESS-TOKEN"
NEXT_PUBLIC_CONTENT_PREVIEW_ACCESS_TOKEN="REPLACE-WITH-SECRET-ACCESS-TOKEN"
CONTENT_MANAGEMENT_ACCESS_TOKEN="REPLACE-WITH-SECRET-ACCESS-TOKEN"
NEXT_PUBLIC_CONTENTFUL_SPACE_ID="REPLACE"
CONTENTFUL_ENVIRONMENT="master"

# Algolia
ALGOLIA_APP_ID="REPLACE"
ALGOLIA_ADMIN_KEY="REPLACE"
ALGOLIA_PUBLIC_KEY="REPLACE"
ALGOLIA_INDEX="REPLACE"
NEXT_PUBLIC_ALGOLIA_APP_ID="REPLACE"
NEXT_PUBLIC_ALGOLIA_PUBLIC_KEY="REPLACE"
NEXT_PUBLIC_ALGOLIA_SUGGESTIONS="instant_search_demo_query_suggestions"

# Snap Forms
NEXT_PUBLIC_SNAP_FORM_PREFIX="https://bupaaustralia.snapforms.com.au/form/"

# Calendly
NEXT_PUBLIC_CALENDLY_PREFIX="https://calendly.com/lyfsolutions/"

# Google Cloud API Maps and Location Search
NEXT_PUBLIC_GOOGLE_CLOUD_API_KEY_CLIENT="REPLACE"
GOOGLE_CLOUD_API_KEY_SERVER="REPLACE"

# Preview access code to check against contentful
PREVIEW_ACCESS_KEY="xxxx"