@import "lexus-style-guide/colors/index";

.portal {
    overflow-y: auto;
    position: fixed;
    background-color: lx-color("deep-blue");
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 1000; // needs to be higher than the getfeedback button 999
    padding-top: max(env(safe-area-inset-top), var(--demo-banner-height, 0));    
}
