@layer components {
    .button {
        font-weight: theme(fontWeight.semibold);
        border-width: theme(borderWidth.2);
        border-color: theme(borderColor.transparent);

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: theme(gap.4);

        max-width: 100%;
        overflow: hidden;

        /* Giant, Standard and Small sizing for primary, secondary and ghost variant */
        &:where(&--giant):not(&--tertiary) {
            padding: 20px 40px;
            font-size: theme(fontSize.base);
            border-radius: theme(borderRadius.lg);
        }

        &:where(&--standard)&:not(&--tertiary), 
        &:where(&:not(&--tertiary)) {
            padding: 12px 24px;
            font-size: theme(fontSize.base);
            border-radius: theme(borderRadius.DEFAULT);
        }

        &:where(&--small:not(&--tertiary)) {
            padding: 3px 12px;
            font-size: theme(fontSize.sm);
            border-radius: theme(borderRadius.sm);
        }

        /* Giant, Standard and Small sizing for tertiary variant */

        &:where(&--tertiary):where(&--giant) {
            padding-top: 20px;
            padding-bottom: 20px;
            border-radius: theme(borderRadius.lg);
        }

        &:where(&--tertiary):not(&--standard),
        &:where(&--tertiary):not(&--giant, &--small) {
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: theme(borderRadius.DEFAULT);
        }

        &:where(&--tertiary):where(&--small) {
            padding-top: 3px;
            padding-bottom: 3px;
            border-radius: theme(borderRadius.sm);
            font-size: theme(fontSize.sm);
        }

        /* Primary, Secondary and Ghost styles with inverse variants  */
        &:not(&--inverse, &--secondary, &--ghost, &--tertiary) {
            color: theme(colors.white);
            background-color: theme(backgroundColor.cyan.DEFAULT);
            border-color: theme(borderColor.transparent);
            &:disabled {
                color: theme(backgroundColor.disabled-text);
                background-color: theme(backgroundColor.disabled);
            }
            &:hover:not(:disabled) {
                background-color: #005497;
                &.button--pink {
                    background-color: #9c2d6f;
                }
            }
            &:active:not(:disabled) {
                background-color: #00254f;
                &.button--pink {
                    background-color: #8F1A4D;
                }
            }

            &.button--pink {
                background-color: #d02670;
            }
        }

        
        &--secondary:not(&--inverse) {
            color: theme(colors.cyan.DEFAULT);
            background-color: theme(backgroundColor.transparent);
            border-color: theme(borderColor.cyan.DEFAULT);
            &:disabled {
                color: theme(backgroundColor.disabled-text);
                background-color: theme(backgroundColor.transparent);
                border-color: theme(borderColor.disabled);
            }

            &:hover:not(:disabled) {
                color: #005497;
                border-color: #005497;
            }
            &:active:not(:disabled) {
                color: theme(backgroundColor.navy);
                border-color: theme(backgroundColor.navy);
            }
            &:focus-visible:not(:disabled, :active) {
                background-color: theme(backgroundColor.white);
            }
        }

        &--ghost:not(&--inverse) {
            color: theme(colors.cyan.DEFAULT);
            background-color: theme(backgroundColor.transparent);
            &:disabled {
                color: theme(backgroundColor.disabled-text);
                background-color: theme(backgroundColor.transparent);
                border-color: theme(borderColor.transparent);
            }
            &:hover:not(:disabled) {
                color: #005497;
            }
            &:active:not(:disabled) {
                color: theme(backgroundColor.navy);
            }
            &:focus-visible:not(:disabled, :active) {
                background-color: theme(backgroundColor.white);
            }
        }

        &--tertiary:not(&--inverse) {
            color: theme(colors.cyan.DEFAULT);
            background-color: theme(backgroundColor.transparent);
            &:disabled {
                color: theme(backgroundColor.disabled-text);
                background-color: theme(backgroundColor.transparent);
                border-color: theme(borderColor.transparent);
            }
            &:hover:not(:disabled) {
                color: #005497;
                text-decoration: underline;
            }
            &:active:not(:disabled) {
                color: theme(backgroundColor.navy);
                text-decoration: underline;
            }
            &:focus-visible:not(:disabled, :active) {
                color: #005497;
                background-color: theme(backgroundColor.white);
            }
        }

        &:where(&--inverse):not(&--secondary, &--ghost, &--tertiary) {
            color: theme(colors.navy);
            background-color: theme(backgroundColor.white);
            border-color: theme(borderColor.transparent);
            &:disabled {
                color: #00C16;
                background-color: #005497;
            }
            &:hover:not(:disabled) {
                /* background-color: #5bb3eb; */
                background-color: theme(colors.cyan.DEFAULT);
                color: theme(colors.white);
                border-color: theme(colors.white);
            }
            &:active:not(:disabled) {
                background-color: #c6e6fa;
            }
        }

        &--secondary:where(&--inverse) {
            color: theme(colors.white);
            background-color: theme(backgroundColor.transparent);
            border-color: theme(borderColor.white);
            &:disabled {
                color: #000c16;
                background-color: theme(backgroundColor.transparent);
                border-color: #005497;
            }
            &:hover:not(:disabled) {
                color: theme(colors.white);
                border-color: theme(colors.white);
                text-decoration: underline;
            }
            &:active:not(:disabled) {
                color: #c6e6fa;
                border-color: #c6e6fa;
                text-decoration: underline;
            }
            &:focus-visible {
                border-color: theme(colors.cyan.DEFAULT);
            }
        }

        &--ghost:where(&--inverse) {
            color: theme(colors.white);
            background-color: theme(backgroundColor.transparent);
            &:disabled {
                color: #000c16;
                background-color: theme(backgroundColor.transparent);
                border-color: theme(borderColor.transparent);
            }
            &:hover:not(:disabled) {
                color: #5bb3eb;
            }
            &:active:not(:disabled) {
                color: #c6e6fa;
            }
        }
    }

    .button--secondary {
        &.button--secondary-solid {
            color: theme(colors.white);
            background-color: theme(backgroundColor.cyan.DEFAULT);
            border-color: theme(borderColor.transparent);
            &:disabled {
                color: theme(backgroundColor.disabled-text);
                background-color: theme(backgroundColor.disabled);
            }
            &:hover:not(:disabled) {
                color: white;
                background-color: #005497;
            }
            &:active:not(:disabled) {
                background-color: #00254f;
            }

            &.button--secondary-pink {
                color: white;
                background-color: #d02670;

                &:hover:not(:disabled) {
                    color: white;
                    border-color: #9c2d6f;
                    background-color: #9c2d6f;
                }
                &:active:not(:disabled) {
                    background-color: #8F1A4D;
                    border-color: transparent;
                    color: white;
                }
            }
        }

        &.button--secondary-outline {
            &.button--secondary-pink {
                color: #d02670;
                border-color: #d02670;

                &:hover:not(:disabled) {
                    color: #9c2d6f;
                    border-color: #9c2d6f;
                }

                &:active:not(:disabled) {
                    border-color: #8F1A4D;
                    color: #8F1A4D;
                }
            }
        }
    }
}

